
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_35e93xenzyzoxbt9.eot?t=1497412006916'); /* IE9*/
  src: url('//at.alicdn.com/t/font_35e93xenzyzoxbt9.eot?t=1497412006916#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_35e93xenzyzoxbt9.woff?t=1497412006916') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_35e93xenzyzoxbt9.ttf?t=1497412006916') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_35e93xenzyzoxbt9.svg?t=1497412006916#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before { content: "\e659"; }

.icon-facebook:before { content: "\e65a"; }

.icon-Yahoo:before { content: "\e65b"; }

.icon-Skye:before { content: "\e65c"; }

.icon-Google:before { content: "\e65d"; }

.icon-anzhuo:before { content: "\e65e"; }

.icon-yamaxun:before { content: "\e65f"; }

.icon-linkedin:before { content: "\e660"; }

.icon-YouTube:before { content: "\e661"; }

.icon-Qzone:before { content: "\e662"; }

.icon-QQ:before { content: "\e663"; }

.icon-xinlang:before { content: "\e664"; }

.icon-QQ_weibo:before { content: "\e665"; }

.icon-zhifubao:before { content: "\e666"; }

.icon-taobao:before { content: "\e667"; }

.icon-weichat:before { content: "\e668"; }

.icon-douban:before { content: "\e669"; }

.icon-renren:before { content: "\e66a"; }

.icon-email:before { content: "\e66b"; }

.icon-youku:before { content: "\e66c"; }

.icon--astonished:before { content: "\e6e8"; }

.icon--angel:before { content: "\e6e9"; }

.icon--astonished-:before { content: "\e6ea"; }

.icon--cool:before { content: "\e6eb"; }

.icon--confused:before { content: "\e6ec"; }

.icon--angry:before { content: "\e6ed"; }

.icon--cool-:before { content: "\e6ee"; }

.icon--dizzy:before { content: "\e6ef"; }

.icon--cry:before { content: "\e6f0"; }

.icon--cry-:before { content: "\e6f1"; }

.icon--expressionless:before { content: "\e6f2"; }

.icon--devil:before { content: "\e6f3"; }

.icon--flushed:before { content: "\e6f4"; }

.icon--happy-:before { content: "\e6f5"; }

.icon--happy-1:before { content: "\e6f6"; }

.icon--happy:before { content: "\e6f7"; }

.icon--injury:before { content: "\e6f8"; }

.icon--joy:before { content: "\e6f9"; }

.icon--in-love:before { content: "\e6fa"; }

.icon--kiss:before { content: "\e6fb"; }

.icon--kiss-:before { content: "\e6fc"; }

.icon--kiss-1:before { content: "\e6fd"; }

.icon--mask:before { content: "\e6fe"; }

.icon--neutral:before { content: "\e6ff"; }

.icon--mute:before { content: "\e700"; }

.icon--sad:before { content: "\e701"; }

.icon--sad-:before { content: "\e702"; }

.icon--scared:before { content: "\e703"; }

.icon--secret:before { content: "\e704"; }

.icon--scared-:before { content: "\e705"; }

.icon--shocked:before { content: "\e706"; }

.icon--sick:before { content: "\e707"; }

.icon--smile:before { content: "\e708"; }

.icon--smile-:before { content: "\e709"; }

.icon--sleeping:before { content: "\e70a"; }

.icon--smiling-:before { content: "\e70b"; }

.icon--smiling:before { content: "\e70c"; }

.icon--sweat:before { content: "\e70d"; }

.icon--surprised:before { content: "\e70e"; }

.icon--smirking:before { content: "\e70f"; }

.icon--thinking:before { content: "\e710"; }

.icon--tired:before { content: "\e711"; }

.icon--tongue:before { content: "\e712"; }

.icon--tongue-:before { content: "\e713"; }

.icon--tongue-1:before { content: "\e714"; }

.icon--unamused:before { content: "\e715"; }

.icon--wink:before { content: "\e716"; }

.icon--vomiting:before { content: "\e717"; }

.icon--zombie:before { content: "\e718"; }

.icon--vomiting-:before { content: "\e719"; }

